{% extends "base.html" %}

{% block content %}

<h4 class="center-align">Make a Booking</h4>
   
<div class="container">
  <div class="row card-panel red lighten-5">
    <p class="">Please remember that each booking you make requires an email. 
      If you try to select a same day booking with the same email, it will not be accepted.</p>
  </div>
</div>

<div class="container">
  <div class="row card-panel red lighten-5">
    <p>We can only accept between <strong>1-6 guests</strong> per booking. For times, please check out our <a href="{% url 'home' %}"><strong>Home</strong></a> page.</p>
  </div>
</div>



  <div class="container">
    <div class="row">
      <div class="col-s12-m6">
        <div class="card deep-orange lighten-4">
          <div class="card-content white-text">
            <p>Username: {{ user.username }}</p>
              <form method="post" action="{% url 'create_bookings' %}">{% csrf_token %}
                {{ form.as_p }}

              <input type="submit" value="Confirm Booking" class="btn-small submit-button">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}