{% extends "base.html" %}

{% block content %}

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s6 m2">
          {% load static %} <img src="{% static 'media/alireza-mirzabegi-FtUlp4THNI4-unsplash.jpg' %}" alt="Burger" class="circle responsive-img">
        </div>
        <div class="col s10">
          <span class="black-text">
            <h3>Welcome to Tablefor2</h3>
            <p>All you need for a great night and great food is all here!</p>
            <br>
            {% if user.is_authenticated %}
              <p>Please see our Times and Menu below.</p>
              <p>When you are ready - Please click <a href="{% url 'create_bookings' %}"><strong>here</strong></a> to make a booking.</p>
            {% else %}
              <p>Simply <a href="{% url 'account_signup' %}"><strong>Sign Up</strong></a> today and have instance access to our bookings page, in which you can view,
                edit and or amend bookings or if you can't make it, cancel a booking.</p>
                <br>
              <p>Please see our Times and Menu below.</p>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>

  <br>

  
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <h4 class="center">Our Times</h4>
      <div class="container">
        <div class="row">
    <p class="center">When making a booking, the following times are available for our everyday seating:</p>
        </div>
      </div>
      <div class="container center">
        <div class="row">
          <div class="col s2">17:00</div>
          <div class="col s2">17:30</div>
          <div class="col s2">18:00</div>
          <div class="col s3">18:30</div>
          <div class="col s2">19:00</div>
          <div class="col s2">19:30</div>
          <div class="col s2">20:00</div>
          <div class="col s2">20:30</div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel deep-orange lighten-3 z-depth-1">
      <h4 class="center">Our Menu</h4>

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="large material-icons">local_dining</i><strong>Starter</strong></div>
      <div class="collapsible-body grey lighten-3"><span>Tomato Bruchetta with Basil, garlic, Balsamic vinegar on Toasted sourdough</span></div>
      <div class="collapsible-body grey lighten-3"><span>Cured Salmon with Prawns, Fresh Salad, Dill Lime and Creme Fraiche</span></div>
      <div class="collapsible-body grey lighten-3"><span>Soup of the Day <strong>*Please ask Server*</strong></span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="large material-icons">restaurant</i><strong>Main Course</strong></div>
      <div class="collapsible-body grey lighten-3"><span>Truffle Chicken & Potato Gratin</span></div>
      <div class="collapsible-body grey lighten-3"><span>Korean Beef Taco</span></div>
      <div class="collapsible-body grey lighten-3"><span>Mushroom Risotto</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fa-solid fa-ice-cream"></i><strong>Dessert</strong></div>
      <div class="collapsible-body grey lighten-3"><span>Banoffi Pie</span></div>
      <div class="collapsible-body grey lighten-3"><span>Bread & Butter Pudding</span></div>
      <div class="collapsible-body grey lighten-3"><span>Assortment of Ice Cream</span></div>
    </li>
  </ul>
</div>
</div>

{%endblock%}